<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916818300730-8bkqonfh0augr02fbr5m859urnl770jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916818300730-8bkqonfh0augr02fbr5m859urnl770jf</string>
	<key>API_KEY</key>
	<string>AIzaSyAdFO9sfSw4o1x61pgOTLFJ66VzXAyKdZY</string>
	<key>GCM_SENDER_ID</key>
	<string>916818300730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeonghome.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-eae8b</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-eae8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916818300730:ios:d1056d9b06e270b7e6ca03</string>
</dict>
</plist>